USE [master]
GO
/****** Object:  Database [statistics_of_use_db]    Script Date: 30/07/2023 3:38:04 p. m. ******/
CREATE DATABASE [statistics_of_use_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'statistics_of_use_db', FILENAME = N'D:\Estiven\Datos\Proyectos\statistics-of-use-project\database\statistics_of_use_db.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'statistics_of_use_db_log', FILENAME = N'D:\Estiven\Datos\Proyectos\statistics-of-use-project\database\statistics_of_use_db_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [statistics_of_use_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [statistics_of_use_db]
GO
/****** Object:  Table [dbo].[app_usage_count_motorola]    Script Date: 30/07/2023 3:38:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[app_usage_count_motorola](
	[date] [varchar](max) NULL,
	[amazon_shopping] [float] NULL,
	[android_system] [float] NULL,
	[calculator] [float] NULL,
	[calendar] [float] NULL,
	[camera] [float] NULL,
	[chrome] [float] NULL,
	[classroom] [float] NULL,
	[clock] [float] NULL,
	[discord] [float] NULL,
	[drive] [float] NULL,
	[files] [float] NULL,
	[gmail] [float] NULL,
	[google] [float] NULL,
	[google_news] [float] NULL,
	[google_opinion_rewards] [float] NULL,
	[google_play_services] [float] NULL,
	[google_play_store] [float] NULL,
	[instagram] [float] NULL,
	[linkedin] [float] NULL,
	[maps] [float] NULL,
	[medium] [float] NULL,
	[mi_tigo] [float] NULL,
	[microsoft_365_(office)] [float] NULL,
	[moto_app_launcher] [float] NULL,
	[nequi_colombia] [float] NULL,
	[notion] [float] NULL,
	[package_installer] [float] NULL,
	[photomath] [float] NULL,
	[photos] [float] NULL,
	[settings] [float] NULL,
	[siata] [float] NULL,
	[simcity] [float] NULL,
	[spotify] [float] NULL,
	[stellarium] [float] NULL,
	[symbolab] [float] NULL,
	[system_ui] [float] NULL,
	[tasks] [float] NULL,
	[teams] [float] NULL,
	[telegram] [float] NULL,
	[tiktok] [float] NULL,
	[truecaller] [float] NULL,
	[twitter] [float] NULL,
	[tyba] [float] NULL,
	[upwork_talent] [float] NULL,
	[whatsapp] [float] NULL,
	[youtube] [float] NULL,
	[youtube_music] [float] NULL,
	[zoom] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[app_usage_time_motorola]    Script Date: 30/07/2023 3:38:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[app_usage_time_motorola](
	[date] [varchar](max) NULL,
	[amazon_shopping] [float] NULL,
	[calculator] [float] NULL,
	[calendar] [float] NULL,
	[chrome] [float] NULL,
	[clock] [float] NULL,
	[com.activision.callofduty.shooter] [float] NULL,
	[discord] [float] NULL,
	[drive] [float] NULL,
	[gmail] [float] NULL,
	[google] [float] NULL,
	[google_news] [float] NULL,
	[google_play_store] [float] NULL,
	[hbo_max] [float] NULL,
	[instagram] [float] NULL,
	[linkedin] [float] NULL,
	[maps] [float] NULL,
	[medium] [float] NULL,
	[mi_tigo] [float] NULL,
	[microsoft_365_(office)] [float] NULL,
	[moto_app_launcher] [float] NULL,
	[nequi_colombia] [float] NULL,
	[notion] [float] NULL,
	[photomath] [float] NULL,
	[photos] [float] NULL,
	[settings] [float] NULL,
	[simcity] [float] NULL,
	[spotify] [float] NULL,
	[symbolab] [float] NULL,
	[tasks] [float] NULL,
	[teams] [float] NULL,
	[telegram] [float] NULL,
	[tiktok] [float] NULL,
	[truecaller] [float] NULL,
	[twitter] [float] NULL,
	[tyba] [float] NULL,
	[upwork_talent] [float] NULL,
	[whatsapp] [float] NULL,
	[youtube] [float] NULL,
	[youtube_music] [float] NULL,
	[zoom] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[device_unlocks_motorola]    Script Date: 30/07/2023 3:38:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[device_unlocks_motorola](
	[date] [varchar](max) NULL,
	[device_unlocks] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[web_usage_count_chrome]    Script Date: 30/07/2023 3:38:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[web_usage_count_chrome](
	[date] [varchar](max) NULL,
	[calendar.google.com] [float] NULL,
	[canva.com] [float] NULL,
	[chat.openai.com] [float] NULL,
	[colab.research.google.com] [float] NULL,
	[docs.google.com] [float] NULL,
	[drive.google.com] [float] NULL,
	[geogebra.org] [float] NULL,
	[github.com] [float] NULL,
	[google.com] [float] NULL,
	[instagram.com] [float] NULL,
	[kaggle.com] [float] NULL,
	[linkedin.com] [float] NULL,
	[mail.google.com] [float] NULL,
	[medium.com] [float] NULL,
	[platzi.com] [float] NULL,
	[pomofocus.io] [float] NULL,
	[power.larc.nasa.gov] [float] NULL,
	[replit.com] [float] NULL,
	[skribbl.io] [float] NULL,
	[stackoverflow.com] [float] NULL,
	[twitter.com] [float] NULL,
	[udea.edu.co] [float] NULL,
	[web.whatsapp.com] [float] NULL,
	[wolframalpha.com] [float] NULL,
	[youtube.com] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[web_usage_count_edge]    Script Date: 30/07/2023 3:38:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[web_usage_count_edge](
	[date] [varchar](max) NULL,
	[bing.com] [float] NULL,
	[chat.openai.com] [float] NULL,
	[colab.research.google.com] [float] NULL,
	[docs.google.com] [float] NULL,
	[drive.google.com] [float] NULL,
	[facebook.com] [float] NULL,
	[github.com] [float] NULL,
	[google.com] [float] NULL,
	[instagram.com] [float] NULL,
	[kaggle.com] [float] NULL,
	[linkedin.com] [float] NULL,
	[mail.google.com] [float] NULL,
	[meet.google.com] [float] NULL,
	[platform.openai.com] [float] NULL,
	[stackoverflow.com] [float] NULL,
	[udea.edu.co] [float] NULL,
	[udeaeduco-my.sharepoint.com] [float] NULL,
	[upwork.com] [float] NULL,
	[web.whatsapp.com] [float] NULL,
	[whatsapp.com] [float] NULL,
	[wolframalpha.com] [float] NULL,
	[youtube.com] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[web_usage_count_motorola]    Script Date: 30/07/2023 3:38:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[web_usage_count_motorola](
	[date] [varchar](max) NULL,
	[chat.openai.com] [float] NULL,
	[google.com] [float] NULL,
	[instagram.com] [float] NULL,
	[openai.com] [float] NULL,
	[tiktok.com] [float] NULL,
	[udea.edu.co] [float] NULL,
	[vm.tiktok.com] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[web_usage_time_chrome]    Script Date: 30/07/2023 3:38:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[web_usage_time_chrome](
	[date] [varchar](max) NULL,
	[calendar.google.com] [float] NULL,
	[canva.com] [float] NULL,
	[chat.openai.com] [float] NULL,
	[colab.research.google.com] [float] NULL,
	[disneyplus.com] [float] NULL,
	[docs.google.com] [float] NULL,
	[geogebra.org] [float] NULL,
	[github.com] [float] NULL,
	[google.com] [float] NULL,
	[instagram.com] [float] NULL,
	[kaggle.com] [float] NULL,
	[linkedin.com] [float] NULL,
	[mail.google.com] [float] NULL,
	[platzi.com] [float] NULL,
	[play.hbomax.com] [float] NULL,
	[pomofocus.io] [float] NULL,
	[skribbl.io] [float] NULL,
	[starplus.com] [float] NULL,
	[twitter.com] [float] NULL,
	[udea.edu.co] [float] NULL,
	[web.whatsapp.com] [float] NULL,
	[wolframalpha.com] [float] NULL,
	[youtube.com] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[web_usage_time_edge]    Script Date: 30/07/2023 3:38:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[web_usage_time_edge](
	[date] [varchar](max) NULL,
	[bing.com] [float] NULL,
	[chat.openai.com] [float] NULL,
	[colab.research.google.com] [float] NULL,
	[coursera.org] [float] NULL,
	[docs.google.com] [float] NULL,
	[drive.google.com] [float] NULL,
	[github.com] [float] NULL,
	[instagram.com] [float] NULL,
	[kaggle.com] [float] NULL,
	[learn.deeplearning.ai] [float] NULL,
	[mail.google.com] [float] NULL,
	[meet.google.com] [float] NULL,
	[netflix.com] [float] NULL,
	[udeaeduco-my.sharepoint.com] [float] NULL,
	[upwork.com] [float] NULL,
	[web.whatsapp.com] [float] NULL,
	[wolframalpha.com] [float] NULL,
	[youtube.com] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[web_usage_time_motorola]    Script Date: 30/07/2023 3:38:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[web_usage_time_motorola](
	[date] [varchar](max) NULL,
	[chat.openai.com] [float] NULL,
	[google.com] [float] NULL,
	[instagram.com] [float] NULL,
	[tiktok.com] [float] NULL,
	[udea.edu.co] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[device_unlocks_motorola] ([date], [device_unlocks]) VALUES (N'October 19, 2022', 146)
INSERT [dbo].[device_unlocks_motorola] ([date], [device_unlocks]) VALUES (N'October 20, 2022', 117)
INSERT [dbo].[device_unlocks_motorola] ([date], [device_unlocks]) VALUES (N'October 21, 2022', 71)
GO
INSERT [dbo].[web_usage_count_chrome] ([date], [calendar.google.com], [canva.com], [chat.openai.com], [colab.research.google.com], [docs.google.com], [drive.google.com], [geogebra.org], [github.com], [google.com], [instagram.com], [kaggle.com], [linkedin.com], [mail.google.com], [medium.com], [platzi.com], [pomofocus.io], [power.larc.nasa.gov], [replit.com], [skribbl.io], [stackoverflow.com], [twitter.com], [udea.edu.co], [web.whatsapp.com], [wolframalpha.com], [youtube.com]) VALUES (N'2022-10-28', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[web_usage_count_chrome] ([date], [calendar.google.com], [canva.com], [chat.openai.com], [colab.research.google.com], [docs.google.com], [drive.google.com], [geogebra.org], [github.com], [google.com], [instagram.com], [kaggle.com], [linkedin.com], [mail.google.com], [medium.com], [platzi.com], [pomofocus.io], [power.larc.nasa.gov], [replit.com], [skribbl.io], [stackoverflow.com], [twitter.com], [udea.edu.co], [web.whatsapp.com], [wolframalpha.com], [youtube.com]) VALUES (N'2023-01-21', 1, 0, 15, 23, 0, 10, 0, 22, 39, 1, 0, 5, 8, 11, 30, 9, 0, 0, 0, 6, 23, 0, 27, 0, 20)
INSERT [dbo].[web_usage_count_chrome] ([date], [calendar.google.com], [canva.com], [chat.openai.com], [colab.research.google.com], [docs.google.com], [drive.google.com], [geogebra.org], [github.com], [google.com], [instagram.com], [kaggle.com], [linkedin.com], [mail.google.com], [medium.com], [platzi.com], [pomofocus.io], [power.larc.nasa.gov], [replit.com], [skribbl.io], [stackoverflow.com], [twitter.com], [udea.edu.co], [web.whatsapp.com], [wolframalpha.com], [youtube.com]) VALUES (N'2023-01-22', 5, 0, 15, 0, 0, 3, 0, 11, 11, 0, 0, 12, 10, 0, 0, 0, 0, 0, 0, 2, 14, 0, 7, 0, 12)
GO
INSERT [dbo].[web_usage_count_edge] ([date], [bing.com], [chat.openai.com], [colab.research.google.com], [docs.google.com], [drive.google.com], [facebook.com], [github.com], [google.com], [instagram.com], [kaggle.com], [linkedin.com], [mail.google.com], [meet.google.com], [platform.openai.com], [stackoverflow.com], [udea.edu.co], [udeaeduco-my.sharepoint.com], [upwork.com], [web.whatsapp.com], [whatsapp.com], [wolframalpha.com], [youtube.com]) VALUES (N'2022-10-28', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[web_usage_count_edge] ([date], [bing.com], [chat.openai.com], [colab.research.google.com], [docs.google.com], [drive.google.com], [facebook.com], [github.com], [google.com], [instagram.com], [kaggle.com], [linkedin.com], [mail.google.com], [meet.google.com], [platform.openai.com], [stackoverflow.com], [udea.edu.co], [udeaeduco-my.sharepoint.com], [upwork.com], [web.whatsapp.com], [whatsapp.com], [wolframalpha.com], [youtube.com]) VALUES (N'2023-04-29', 21, 10, 4, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 9, 0, 0, 29)
INSERT [dbo].[web_usage_count_edge] ([date], [bing.com], [chat.openai.com], [colab.research.google.com], [docs.google.com], [drive.google.com], [facebook.com], [github.com], [google.com], [instagram.com], [kaggle.com], [linkedin.com], [mail.google.com], [meet.google.com], [platform.openai.com], [stackoverflow.com], [udea.edu.co], [udeaeduco-my.sharepoint.com], [upwork.com], [web.whatsapp.com], [whatsapp.com], [wolframalpha.com], [youtube.com]) VALUES (N'2023-04-30', 62, 26, 0, 0, 7, 0, 9, 1, 0, 1, 8, 6, 0, 0, 7, 1, 0, 0, 0, 0, 25, 22)
GO
INSERT [dbo].[web_usage_count_motorola] ([date], [chat.openai.com], [google.com], [instagram.com], [openai.com], [tiktok.com], [udea.edu.co], [vm.tiktok.com]) VALUES (N'2022-10-28', 0, 12, 0, 0, 2, 2, 2)
INSERT [dbo].[web_usage_count_motorola] ([date], [chat.openai.com], [google.com], [instagram.com], [openai.com], [tiktok.com], [udea.edu.co], [vm.tiktok.com]) VALUES (N'2022-10-29', 0, 13, 2, 0, 5, 3, 1)
INSERT [dbo].[web_usage_count_motorola] ([date], [chat.openai.com], [google.com], [instagram.com], [openai.com], [tiktok.com], [udea.edu.co], [vm.tiktok.com]) VALUES (N'2022-10-30', 0, 5, 0, 0, 10, 1, 3)
GO
INSERT [dbo].[web_usage_time_chrome] ([date], [calendar.google.com], [canva.com], [chat.openai.com], [colab.research.google.com], [disneyplus.com], [docs.google.com], [geogebra.org], [github.com], [google.com], [instagram.com], [kaggle.com], [linkedin.com], [mail.google.com], [platzi.com], [play.hbomax.com], [pomofocus.io], [skribbl.io], [starplus.com], [twitter.com], [udea.edu.co], [web.whatsapp.com], [wolframalpha.com], [youtube.com]) VALUES (N'2022-10-28', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[web_usage_time_chrome] ([date], [calendar.google.com], [canva.com], [chat.openai.com], [colab.research.google.com], [disneyplus.com], [docs.google.com], [geogebra.org], [github.com], [google.com], [instagram.com], [kaggle.com], [linkedin.com], [mail.google.com], [platzi.com], [play.hbomax.com], [pomofocus.io], [skribbl.io], [starplus.com], [twitter.com], [udea.edu.co], [web.whatsapp.com], [wolframalpha.com], [youtube.com]) VALUES (N'2023-01-21', 0.5, 0, 8.98, 17.17, 0, 0, 0, 6.33, 6.77, 3.5, 0, 1.12, 0.8, 47.27, 0, 0.62, 0, 0, 16.22, 0, 9.27, 0, 62.2)
INSERT [dbo].[web_usage_time_chrome] ([date], [calendar.google.com], [canva.com], [chat.openai.com], [colab.research.google.com], [disneyplus.com], [docs.google.com], [geogebra.org], [github.com], [google.com], [instagram.com], [kaggle.com], [linkedin.com], [mail.google.com], [platzi.com], [play.hbomax.com], [pomofocus.io], [skribbl.io], [starplus.com], [twitter.com], [udea.edu.co], [web.whatsapp.com], [wolframalpha.com], [youtube.com]) VALUES (N'2023-01-22', 3.17, 0, 4.88, 0, 0, 0, 0, 4.07, 0.75, 0, 0, 9.77, 2.97, 0, 45.15, 0, 0, 0, 6.95, 0, 0.75, 0, 25.68)
GO
INSERT [dbo].[web_usage_time_edge] ([date], [bing.com], [chat.openai.com], [colab.research.google.com], [coursera.org], [docs.google.com], [drive.google.com], [github.com], [instagram.com], [kaggle.com], [learn.deeplearning.ai], [mail.google.com], [meet.google.com], [netflix.com], [udeaeduco-my.sharepoint.com], [upwork.com], [web.whatsapp.com], [wolframalpha.com], [youtube.com]) VALUES (N'2022-10-28', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[web_usage_time_edge] ([date], [bing.com], [chat.openai.com], [colab.research.google.com], [coursera.org], [docs.google.com], [drive.google.com], [github.com], [instagram.com], [kaggle.com], [learn.deeplearning.ai], [mail.google.com], [meet.google.com], [netflix.com], [udeaeduco-my.sharepoint.com], [upwork.com], [web.whatsapp.com], [wolframalpha.com], [youtube.com]) VALUES (N'2023-04-29', 2.78, 10.95, 3.42, 0, 0, 0.07, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2.35, 0, 80.53)
INSERT [dbo].[web_usage_time_edge] ([date], [bing.com], [chat.openai.com], [colab.research.google.com], [coursera.org], [docs.google.com], [drive.google.com], [github.com], [instagram.com], [kaggle.com], [learn.deeplearning.ai], [mail.google.com], [meet.google.com], [netflix.com], [udeaeduco-my.sharepoint.com], [upwork.com], [web.whatsapp.com], [wolframalpha.com], [youtube.com]) VALUES (N'2023-04-30', 31.08, 35.6, 0, 0, 0, 12.47, 8.05, 0, 0.18, 0, 1.08, 0, 0, 0, 0, 0, 82.12, 44.72)
GO
INSERT [dbo].[web_usage_time_motorola] ([date], [chat.openai.com], [google.com], [instagram.com], [tiktok.com], [udea.edu.co]) VALUES (N'2022-10-28', 0, 1.85, 0, 0.78, 0.82)
INSERT [dbo].[web_usage_time_motorola] ([date], [chat.openai.com], [google.com], [instagram.com], [tiktok.com], [udea.edu.co]) VALUES (N'2022-10-29', 0, 5.23, 1.55, 2.42, 1.82)
INSERT [dbo].[web_usage_time_motorola] ([date], [chat.openai.com], [google.com], [instagram.com], [tiktok.com], [udea.edu.co]) VALUES (N'2022-10-30', 0, 3.47, 0, 1.38, 0.72)
GO
USE [master]
GO
